@import url(style.css);

body{
    background-image: linear-gradient(rgb(245, 232, 245), rgb(192, 165, 247));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 1142px;
    height: 661px;
    display: flex;
    box-shadow: 0 0 30px ;
    border-radius: ;
}

.sessao-imagem {
    width: 510px;
    height: 661px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao-imagem img{
    border-radius: 10px 
    ;
}

.sessao-login{
    height: 673px;
    width: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.area-titulo{
    text-align: center;
}

.area-titulo h1, span{
    font-size: 36px;
    padding-bottom: 5px;
}

.area-titulo h1{
    color: rgb(213, 110, 245);
    font-weight: 600;
}

.area-titulo h2{
    font-size: 24px;
    color: rgb(197, 132, 240);
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    width: 434px;
}

form input{
    height: 35px;
    padding: 5px 10px;
    font-size: 18px;
}

button{
    padding: 12px;
    font-size: 18px;

}

.links-senha{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-senha label{
    position: relative;
    right: 75px;
    bottom: 2px;
}

.links-senha label, input, a{
    color: rgb(7, 7, 7);

}

section a:hover{
    color: blue;
    font-weight: 600;   
}

#link-nao-conta{
    text-align: center;
}